

.logo {
  background-color:#f8a0af !important;
  width:200px;
    font-family: 'Open Sans', sans-serif;
font-weight: 300 !important;
color:white;
}

.header {
}

.nav
{
  font-family:'Open Sans', sans-serif;
}


.nav-pills {
  background-color:white
  color: black !important;
}

.nav-pills>li.active> a {
color: black !important;
background-color:white !important;
border-style: solid;
    border-width: 1px;
    border-color:#f8a0af;
}

/*utseende på hoverlänken*/
.nav-pills a:hover {
    background-color: blue !important;
}

/*utseende på hoverlänken*/

.nav-pills > li.active a:hover {
    background-color: blue !important;
}

.jumbotron {
  background-color:#f8a0af !important;
  background-image: url("images/M.png");
  background-repeat: no-repeat;
   background-position: center; 
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbocontainer {

  max-width: 730px;
  margin-right: auto;
margin-left: auto;
}

.bigtext {
  font-size:45px;
   text-align: left;
}

.lead{font-size:15px !important;}

/* anmäl dig här knappen*/
.btn-group-lg>.btn, .btn-lg {
color: black !important;
background-color:transparent!important;
border-style: solid;
    border-width: 1px;
    border-color:#f8a0af;
}



.topcontainter {text-align:center;}

#logos {
text-align:center;
padding-bottom:20px;

}


/* Space out content a bit */
body {
  font-family: 'Open Sans', sans-serif !important;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
background:black;
color:white;
  position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}


/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}